/* @font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue Roman'), local('Helvetica-Neue-Roman'),
        url('HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('HelveticaNeueCyr-Roman.woff') format('woff'),
        url('HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
      font-family: 'PPEiko';
      src: local('PPEiko-LightItalic'), local('PPEiko-LightItalic'),
          url('./font/PPEiko-LightItalic.otf') format('otf'),

      font-weight: 400;
      font-style: normal;
    }
 */




     @font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../HelveticaNeueCyr-Roman.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    }

    @font-face {
   font-family: 'PPEiko';
   src: url('../PPEiko-LightItalic.otf') format('otf');
   font-weight: normal;
   font-style: normal;
   }




body {
  position: absolute;
  /* width: 1080px;
  height: 1920px; */
  overflow: hidden;

  /* background: black; */

background-image: url(./video/backgroundColor.jpg);

  height: 100%;
  width: 100%;
  color: white;


}



.wrapper {
animation-name: hello;
animation-duration: 5s;
}

@keyframes hello {
 0% {opacity: 0%;}
  25% {opacity: 0%;}
   75% {opacity: 0%;}
100% {opacity: 100%;}

}


.who {
  position: absolute;
  font-family: HelveticaNeueCyr;
  text-align: right;
  right: 1.6vw;
  bottom: 0.5vw;
  line-height: 120%;
  font-size: 1vw;
  animation-name: hello;
  animation-duration: 5s;
}

.title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
 top: 318px;
 animation-name: titleAnimation;
 animation-duration: 5s;
 animation-iteration-count: 1;

 opacity: 0;


}

.LittleReminders {
  position: absolute;
  max-height: 20vw;

}

@keyframes titleAnimation {
  0% {opacity: 0%;}
  25% {opacity: 50%;}
  50% {opacity: 100%;}
  100% {opacity: 0%;}

}



.title2 {
position: absolute;
color: white;
font-size: 3vw;


top: -3vw;
left: 1vw;
margin-top: auto;
animation-name: titleAnimation2;
animation-duration: 5s;
}

@keyframes titleAnimation2 {
 0% {opacity: 0%;}
  25% {opacity: 0%;}
   75% {opacity: 0%;}
100% {opacity: 100%;}

}






.qabox {
    position: absolute;
  left: 0.5vw;
  bottom: 1.5vw;
  /* width: 800px; */
  animation-name: qabox;
  animation-duration: 5s;


}


@keyframes qabox {
 0% {opacity: 0%;}
  25% {opacity: 0%;}
   75% {opacity: 0%;}
100% {opacity: 100%;}

}




.qa {
  position: relative;
  max-height: 4vw;
cursor: pointer;

}


.qa:hover {
  transition: 0.5s linear;
filter: drop-shadow(0px 0px 8px #FFFFFF);
}



.btn {
/* border: none; */
background: transparent;
border: none;
}


.how {
  float: right;
  padding-left: 10px;
  padding-top: 5px;

  color: white;
font-family: HelveticaNeueCyr;
font-size: 1.2vw;
opacity: 0;
 transition: 300ms linear;

}

.how.yes {
  float: right;
  padding-left: 10px;
  padding-top: 5px;

  color: white;
font-family: HelveticaNeueCyr;
font-size: 1.2vw;
opacity: 100%;
 /* transition: 1s linear; */

}




.logo {
  position: absolute;
  top: 1vw;
  right: 2vw;

  animation-name: logo;
  animation-duration: 5s;
}
@keyframes logo {
 0% {opacity: 0%;}
  25% {opacity: 0%;}
   75% {opacity: 0%;}
100% {opacity: 100%;}

}


.logo1 {
  max-height: 7.5vw;
}



.pp1 {
  font-family: PP Eiko Italic;
  font-style: italic;
  font-weight: normal;
  font-size: 40px;
  color: #FFFFFF;
}

.pp2 {
  font-family: Helvetica Neue;
font-style: normal;
font-weight: normal;
font-size: 40px;
color: #FFFFFF;
}



.dot {
  height: 7vw;
  width: 7vw;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  /* max-height:10vw;
    max-width: 10vw; */

}









.first_an {

  position: absolute;

  /* background-color: red; */
  height: 20vw;
  width: 20vw;
  /* left: 50%;
  top: 20vw; */
  margin: auto;
  padding: 0;
  /* align-self: center; */
  /* left: 100px; */
  /* top: -100px;
  left: 330px; */
  /* animation-name: titleAnimation2; */
  animation-duration: 5s;
  animation-name: kok1 ;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  cursor: pointer;
}


.first_an:hover {
  animation-play-state: paused;
}

@keyframes kok1 {
  0% { left: 0 ; top: 10vw }
  30% { left: 20vw; top: 20vw}
  40% { left: 30vw ; top:0vw }
  50% { left: 60vw; top: 10vw}
  75% { left: 10vw; top:30vw }
  100% { left:0vw ; top: 10vw }

}


.circle {
  z-index: 1;
position: relative;
justify-content: center;
align-items: center;
  height: 6vw;
  width: 6vw;
  border-radius: 50%;
  border: 1px solid white;
  /* color: white; */
/* text-align: center; */
  position: relative;
  left: 7vw;
  top: 7vw;
 transition: 650ms ease-out;
}

.circle.big {
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
  border: 1px solid white;
  position: relative;
left: 0;
top: 0;
}


.dashh {
  position: absolute;
  left: 5.5vw;
  top: 5vw;

    height: 9.38vw;
    width: 9.38vw;
    border-radius: 50%;
    border: 1px dashed #FFFFFF;
    stroke-dasharray: 6 14;
}


.fff {

position: absolute;
height: 20vw;
width: 20vw;
left: 0vw;
top: 0vw;

/* left: 100px; */
display: none;
}


.tt1 {

  position: relative;
left: 5vw;
top: 6.6vw;

  width: 10vw;
  text-align: center;

  color: white;
    align-self: center;
    font-size: 1vw;
}


.An1 {
  width: 4.69vw;
  height: 4.69vw;
  position: relative;
  top: 3.8vw;
 left: 7.9vw;
border: 1px solid white;
  /* stroke: black;
  stroke-width: 2px; */
  animation-name: An1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes An1 {
  0% {border-radius: 0%}
  50% {border-radius: 50%}
  70% {border-radius: 50%}
  100% {border-radius: 0%}
}

.An1_color {
  position: relative;
  top: 8vw;
 left: 8.5vw;
 /* position: relative; */
  width: 3.65vw;
  height: 3.65vw;
background-color: red;
filter: blur(1vw);
  /* stroke: black;
  stroke-width: 2px; */
  animation-name: An1_color;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes An1_color {
  0% {background-color: red}
  70% {background-color: blue}
  100% {background-color: red}
}


















.second_an {
  position: absolute;
  /* background-color: red; */
  /* align-self: center; */
/* top: -90px;
left: -160px; */
height: 20vw;
width: 20vw;
/* margin: auto; */
/* left: 20vw;
top:-40vw; */
/* top: 10vw; */
/* animation-name: titleAnimation2; */
animation-name: kok2 ;
animation-duration: 40s;
animation-iteration-count: infinite;
cursor: pointer;

}
.second_an:hover {
  animation-play-state: paused;
}


@keyframes kok2 {
  0% { left: 30vw ; top: 0vw }
  20% { left: 60vw; top: 20vw}
  45% { left: 30vw ; top:10vw }
  50% { left: 20vw; top: 20vw}
  74% { left: 40vw; top:10vw }
  100% { left:30vw ; top: 0vw }

}




.circle2 {
  position: relative;
  z-index: 1;

justify-content: center;
align-items: center;
  height: 6vw;
  width: 6vw;
  border-radius: 50%;
  border: 1px solid white;
  /* color: white; */
/* text-align: center; */

left: 7vw;
top: 7vw;
 transition: 650ms ease-out;

}

.circle2.big {
  position: relative;
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
  border: 1px solid white;
  position: relative;
left: 0vw;
top: 0vw;
}

.cc {
  position: absolute;
  /* justify-content: center;
  align-self: center; */
  height: 20vw;
  width: 20vw;

left:3.5vw;
top: 7.5vw;
display: none;

}

.tt2 {
  position: relative;
/* left: 22px;
top: 110px; */
margin-left: -1vw;
margin-top: 7vw;

  width: 15vw;
  text-align: center;

  color: white;

    font-size: 1vw;
}

.out {
  position: absolute;
  margin-top: 1vw;

  height: 2.08vw;
  width: 2.08vw;
  border-radius: 50%;
  border: 1px solid white;
}

.outColor {
  position: absolute;
  margin-top: 1vw;
  margin-left: -0.21vw;

  height: 2.60vw;
  width: 2.60vw;
  border-radius: 50%;
  background-color: lawnGreen;
  filter: blur(10px);
}


.An_2 {
  position: relative;

  animation-name: an2;
  animation-duration: 4s;
    animation-iteration-count: infinite;


}

@keyframes an2 {
  0% {left: 0; top: 0; opacity: 0}
  5% {left: 0; top: 0; opacity: 1}
  15% {left: 2.08vw; top: 0.52vw;opacity: 1 }
  40% { left:4.17vw ; top: -0.52vw;opacity: 1}
  60% { left:5.73vw ; top: 100.52vwpx;opacity: 1}
  80% { left: 7.29vw ; top: 0;opacity: 1}
  95% { left: 10.42vw ; top: 0;opacity: 1}
  100% { left: 10.42vw ; top: 0; opacity:0 }
}

.alot1 {
  position: absolute;
  margin-left: 0;
  height: 3.65vw;
  width: 2.34vw;
  border-radius: 50%;
  border: 1px solid white;
}

.alot2 {
  position: absolute;
  height: 3.65vw;
  width: 2.34vw;
  margin-left: 1.04vw;
  border-radius: 50%;
  border: 1px solid white;
}

.alot3 {
  position: absolute;
    margin-left: 1.82vw;
    height: 3.65vw;
    width: 2.34vw;
  border-radius: 50%;
  border: 1px solid white;
}

.alot4 {
  position: absolute;
    margin-left: 2.60vw;
    height: 3.65vw;
    width: 2.34vw;
  border-radius: 50%;
  border: 1px solid white;
}

.alot5 {
  position: absolute;
    margin-left: 3.39vw;
    height: 3.65vw;
    width: 2.34vw;
  border-radius: 50%;
  border: 1px solid white;
}

.alot6 {
  position: absolute;
    margin-left: 4.17vw;
    height: 3.65vw;
    width: 2.34vw;
  border-radius: 50%;
  border: 1px solid white;
}

.alot7 {
  position: absolute;
    margin-left: 4.95vw;
    height: 3.65vw;
    width: 2.34vw;
  border-radius: 50%;
  border: 1px solid white;
}


.alot8 {
  position: absolute;
    margin-left: 5.73vw;
    height: 3.65vw;
    width: 2.34vw;
  border-radius: 50%;
  border: 1px solid white;
}


.alot9 {
  position: absolute;
    margin-left: 6.51vw;
    height: 3.65vw;
    width: 2.34vw;
  border-radius: 50%;
  border: 1px solid white;
}

.alot10 {
  position: absolute;
    margin-left: 7.29vw;
    height: 3.65vw;
    width: 2.34vw;
  border-radius: 50%;
  border: 1px solid white;
}

.alot11 {
  position: absolute;
    margin-left: 8.07vw;
    height: 3.65vw;
    width: 2.34vw;
  border-radius: 50%;
  border: 1px solid white;
}

.alot12 {
  position: absolute;
    margin-left: 8.85vw;
    height: 3.65vw;
    width: 2.34vw;
  border-radius: 50%;
  border: 1px solid white;
}

.alot13 {
  position: absolute;
    margin-left: 9.90vw;
    height: 3.65vw;
    width: 2.34vw;
  border-radius: 50%;
  border: 1px solid white;
}


















.third_an {
  position: relative;

  /* background-color: red; */
  height: 20vw;
  width: 20vw;
  left: 75vw;
  top: 28vw;
  /* align-self: center; */
  /* left: 100px; */
/* top: -100px;
left: 330px; */
/* animation-name: titleAnimation2; */
animation-duration: 5s;
animation-name: kok3 ;
animation-duration: 40s;
animation-iteration-count: infinite;
cursor: pointer;

}
.third_an:hover {
  animation-play-state: paused;
}


@keyframes kok3 {
  0% { left: 75vw ; top: 28vw }
  35% { left: 40vw; top: 10vw}
  45% { left: 20vw ; top:25vw }
  55% { left: 5vw; top: 20vw}
  80% { left: 40vw; top: 0vw }
  100% { left: 75vw ; top: 28vw }

}







.circle3 {
  z-index: 1;
position: relative;
justify-content: center;
align-items: center;
  height: 6vw;
  width: 6vw;
  border-radius: 50%;
  border: 1px solid white;
  /* color: white; */
/* text-align: center; */
  position: relative;
  left: 7vw;
  top: 7vw;
 transition: 650ms ease-out;

}

.circle3.big {
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
  border: 1px solid white;
  position: relative;
left: 0;
top: 0;
}


.An3 {
  position: absolute;
  top: 1vw;
  left: -4.7vw;
  display: none;
}

.allprob {
  position: absolute;
  left: 0vw;
  top: 0vw;
}

.tt3 {
  position: absolute;
left: 9.7vw;
top: 13.5vw;

  width: 10vw;
  text-align: center;

  color: white;
    align-self: center;
    font-size: 1vw;
}

.prob {
  position: relative;
top: 0.78vw;

  height: 2.08vw;
  width: 2.08vw;
  border-radius: 50%;
  border: 0.5px solid white;
}

.probColor {
  position: absolute;
top: 1vw;
left: 0.16vw;

  height: 1.82vw;
  width: 1.82vw;
  border-radius: 50%;
  background-color: red;
  filter: blur(0.5vw);
}

.probs1 {
z-index: 1;
  position: absolute;
  top: 7vw;
  left: 8.7vw;
  animation-name: prob1;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes prob1 {
  0% { left: 8.7vw; top:7vw ;opacity: 0}
  10% { left:8.7vw ; top:7vw;opacity:1}
  30% { left:12vw ; top:9vw;opacity:1}
  60% { left: 14vw; top: 6vw;opacity:1}
  90% { left: 19vw; top: 7vw;opacity:1}
  100% { left: 19vw; top: 7vw;opacity:0}


}


.probs2 {
  z-index: 1;
  position: absolute;
  top: 7vw;
  left: 8.7vw;
  animation-name: prob2;
  animation-duration: 5s;
    /* animation-delay: 3s; */
  animation-iteration-count: infinite;
}

@keyframes prob2 {
  0% { left: 8.7vw; top:7vw ;opacity: 0}
  10% { left:8.7vw ; top:7vw;opacity:1}
  20% { left:10vw ; top:6vw;opacity:1}
  40% { left:13vw ; top:9vw;opacity:1}
  50% { left: 14vw; top: 6vw;opacity:1}
  70% { left: 17vw; top: 9vw;opacity:1}
  90% { left: 19vw; top: 7vw;opacity:1}
  100% { left: 19vw; top: 7vw;opacity:0}


}

.probs3 {
  z-index: 1;
  position: relative;
  top: 7vw;
  left: 8.7vw;
  animation-name: prob3;
  animation-duration: 4s;
  /* animation-delay: 2s; */
  animation-iteration-count: infinite;
}

@keyframes prob3 {
  0% { left: 8.7vw; top:7vw ;opacity: 0}
  10% { left:8.7vw ; top:7vw;opacity:1}
  30% { left:14vw ; top:6vw;opacity:1}
  50% { left:16vw ; top:9vw;opacity:1}
  80% { left: 19vw; top: 7vw;opacity:1}
  100% { left: 19vw; top: 7vw;opacity:0}

}

.probs4 {
  z-index: 1;
  position: relative;
  top: 7vw;
  left: 8.7vw;
  animation-name: prob4;
  animation-duration: 5s;
  /* animation-delay: 2s; */
  animation-iteration-count: infinite;
}

@keyframes prob4 {
  0% { left: 8.7vw; top:7vw ;opacity: 0}
  10% { left:8.7vw ; top:7vw;opacity:1}
  30% { left:12vw ; top:5vw;opacity:1}
  50% { left:15vw ; top:6vw;opacity:1}
  70% { left:17vw ; top: -1vw ;opacity:1}
  100% { left:17vw ; top: -1vw ;opacity:0}

}

.in {

  position: absolute;
  height: 3.91vw;
  width: 1.82vw;
  border-radius: 50%;
  background-color: white;
}

.exit {

  position: absolute;
  left: 10.68vw;
  height: 3.91vw;
  width: 1.82vw;
  border-radius: 50%;
  background-color: white;
}

.doors {
  position: absolute;
  left: 8.9vw;
  top: 7vw;
  /* top: 90px; */
}

.area {
  position: absolute;
  top: -0.6vw;
  left: 0.7vw;
  width: 10.94vw;
  height: 5.21vw;
  /* background-color: red; */
  border: 0.5px dashed #FFFFFF;

}





















.four_an {
  position: relative;

  /* background-color: red; */
  height: 20vw;
  width: 20vw;
  left: 40vw;
  top: 5vw;
  /* align-self: center; */
  /* left: 100px; */
/* top: -100px;
left: 330px; */
/* animation-name: titleAnimation2; */
animation-duration: 5s;
animation-name: kok4 ;
animation-duration: 40s;
animation-iteration-count: infinite;
cursor: pointer;

}

.four_an:hover {
  animation-play-state: paused;
}


@keyframes kok4 {
  0% { left: 40vw ; top: 5vw }
  20% { left: 20vw; top: -15vw}
  30% { left: 5vw ; top:-5vw }
  40% { left: 15vw ; top:5vw }
  50% { left: 70vw; top: -10vw}
  60% { left: 40vw ; top:-15vw }
  70% { left: 20vw ; top:5vw }
  80% { left: 30vw; top:-20vw }
  90% { left: 50vw ; top:-10vw }
  100% { left: 40vw ; top: 5vw }

}



.circle4 {
  z-index: 1;
position: relative;
justify-content: center;
align-items: center;
  height: 6vw;
  width: 6vw;
  border-radius: 50%;
  border: 1px solid white;
  /* color: white; */
/* text-align: center; */
  position: relative;
  left: 7vw;
  top: 7vw;
 transition: 650ms ease-out;
}




.circle4.big {
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
  border: 1px solid white;
  position: relative;
left: 0;
top: 0;
}

.an4 {
  position: absolute;
  top: 5vw;
  left: 5.5vw;
  display: none;
}

.dash2 {
  position: absolute;
  left: 0vw;
  top: 0vw;

    height: 9.38vw;
    width: 9.38vw;
    border-radius: 50%;
    border: 1px dashed #FFFFFF;
    stroke-dasharray: 6 14;
}


.t4 {
  position: absolute;
  top: 11vw;
  left: -0.5vw;
  line-height: 100%;
  color: white;
  font-size: 1vw;
  width: 10vw;
  text-align: center;
}

.stroke {
  position: relative;
top: 0.78vw;

  height: 2.08vw;
  width: 2.08vw;
  border-radius: 50%;
  border: 0.5px solid white;
}

.em1 {
  position: relative;
  left: -2vw;
  top: -2vw;
  animation-name: em1;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes em1 {
  0% { left:-2vw  ; top:-2vw ; opacity: 0}
  5% { left:-2vw; top: -2vw;opacity: 1}
  50% { left:3vw; top: 3vw ;opacity: 1}
  100% { left:3vw; top:3vw ;opacity: 0}
}


.color1 {
  position: absolute;
top: 1vw;
left: 0.16vw;

  height: 1.82vw;
  width: 1.82vw;
  border-radius: 50%;
  background-color: red;
  filter: blur(0.5vw);
}


.em2 {
  position: relative;
  top: -7vw;
  left: 5vw;
  animation-name: em2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes em2 {
  0% { left:5vw  ; top:-7vw ; opacity: 0}
  5% { left:5vw; top: -7vw;opacity: 1}
  50% { left:3vw; top: 1vw ;opacity: 1}
  100% { left:3vw; top:1vw ;opacity: 0}
}


.color2 {
  position: absolute;
top: 1vw;
left: 0.16vw;

  height: 1.82vw;
  width: 1.82vw;
  border-radius: 50%;
  background-color: blue;
  filter: blur(0.5vw);
}


.em3 {
  position: relative;
  top: -5vw;
  left: 11vw;
  animation-name: em3;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes em3 {
  0% { left:11vw  ; top:-5vw ; opacity: 0}
  5% { left:11vw; top: -5vw;opacity: 1}
  50% { left:4vw; top: -2vw ;opacity: 1}
  100% { left:4vw; top:-2vw ;opacity: 0}
}



.color3 {
  position: absolute;
top: 1vw;
left: 0.16vw;

  height: 1.82vw;
  width: 1.82vw;
  border-radius: 50%;
  background-color: lime;
  filter: blur(0.5vw);
}


.em4 {
  position: relative;
  left: -3vw;
  top: 1vw;
  animation-name: em4;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes em4 {
  0% { left:-3vw  ; top:1vw ; opacity: 0}
  5% { left:-3vw; top: 1vw;opacity: 1}
  50% { left:5vw; top: -4vw ;opacity: 1}
  100% { left:5vw; top:-4vw ;opacity: 0}
}


.color4 {
  position: absolute;
top: 1vw;
left: 0.16vw;

  height: 1.82vw;
  width: 1.82vw;
  border-radius: 50%;
  background-color: yellow;
  filter: blur(0.5vw);
}


.em5 {
  position: relative;
  left: 9vw;
  top: 0vw;
  animation-name: em5;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes em5 {
  0% { left:9vw  ; top:0vw ; opacity: 0}
  5% { left:9vw; top: 0vw;opacity: 1}
  50% { left:4vw; top: -6vw ;opacity: 1}
  100% { left:4vw; top:-6vw ;opacity: 0}
}

.color5 {
  position: absolute;
top: 1vw;
left: 0.16vw;

  height: 1.82vw;
  width: 1.82vw;
  border-radius: 50%;
  background-color: cyan;
  filter: blur(0.5vw);
}

.em6 {
  position: relative;
  left: 11vw;
  top:-6vw;
  animation-name: em6;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes em6 {
  0% { left:11vw  ; top:-6vw ; opacity: 0}
  5% { left:11vw; top: -6vw;opacity: 1}
  50% { left:4vw; top: -8vw ;opacity: 1}
  100% { left:4vw; top:-8vw ;opacity: 0}
}

.color6 {
  position: absolute;
top: 1vw;
left: 0.16vw;

  height: 1.82vw;
  width: 1.82vw;
  border-radius: 50%;
  background-color: fuchsia;
  filter: blur(0.5vw);
}

















.five_an {
  position: relative;

  /* background-color: red; */
  height: 20vw;
  width: 20vw;
  left: 65vw;
  top: -40vw;
  /* align-self: center; */
  /* left: 100px; */
/* top: -100px;
left: 330px; */
/* animation-name: titleAnimation2; */
animation-duration: 5s;
animation-name: kok5 ;
animation-duration: 40s;
animation-iteration-count: infinite;
cursor: pointer;

}
.five_an:hover {
  animation-play-state: paused;
}



@keyframes kok5 {
  0% { left: 65vw ; top: -40vw }
  20% { left: 76vw; top: -15vw}

  40% { left: 30vw ; top:-14vw }

  60% { left: 5vw ; top:-20vw }

  80% { left: 15vw; top:-30vw }

  100% { left: 65vw ; top: -40vw }

}



.circle5 {
  z-index: 1;
position: relative;
justify-content: center;
align-items: center;
  height: 6vw;
  width: 6vw;
  border-radius: 50%;
  border: 1px solid white;
  /* color: white; */
/* text-align: center; */
  position: relative;
  left: 7vw;
  top: 7vw;
 transition: 650ms ease-out;

}

.circle5.big {
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
  border: 1px solid white;
  position: relative;
left: 0;
top: 0;
}


.love {
  position: relative;
  top: -7.4vw;
  left: -2.2vw;
  animation-name: love;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes love {
  0% { top: -7.4vw; left:-2.2vw ; opacity:0 }
  30% {  top: -7.4vw; left:-2.2vw ; opacity:1}
  60% { top: -7.4vw; left: 9vw ; opacity: 1}
  100% { top: -7.4vw; left: 9vw; opacity: 0}
}


.loveC {
  position: absolute;
  height: 2.5vw;
  width: 2.5vw;
  border-radius: 50%;
  border: 0.5px solid #FFFFFF;

}

.love_color{
  position: absolute;
  top: 0.3vw;
  left: 0.3vw;
  height: 2vw;
  width: 2vw;
  border-radius: 50%;
  background-color: yellow;
    filter: blur(0.4vw);

  }

.an5 {
  position: absolute;
  top: 5vw;
  left: 5.5vw;
  display: none;
}


.ppc1 {
  /* position: relative; */
    height: 6vw;
    width: 6vw;
    border-radius: 50%;
    border: 0.5px solid #FFFFFF;

}

.pp_color1 {
  position: relative;
  top: -5.5vw;
  left: 0.5vw;
  height: 5vw;
  width: 5vw;
  border-radius: 50%;
  background-color: red;
  filter: blur(1vw);

}

.pp1 {
  position: relative;
  left: -4vw;
  top: 2vw;
}

.ppc2 {
  /* position: relative; */
    height: 6vw;
    width: 6vw;
    border-radius: 50%;
    border: 0.5px solid #FFFFFF;

}

.pp_color2 {
  position: relative;
  top: -5.5vw;
  left: 0.6vw;
  height: 5vw;
  width: 5vw;
  border-radius: 50%;
  background-color: lime;
  filter: blur(1vw);
}


.pp2 {
  position: absolute;
  left: 7.3vw;
  top: 2vw;
}


.t5 {
  position: absolute;
  top: 9.5vw;
  left: -0.5vw;
  line-height: 100%;
  color: white;
  font-size: 1vw;
  width: 10vw;
  text-align: center;
}















.six_an {
  position: relative;


  height: 20vw;
  width: 20vw;
  left: 5vw;
  top: -40vw;
  /* align-self: center; */
  /* left: 100px; */
/* top: -100px;
left: 330px; */
/* animation-name: titleAnimation2; */
animation-duration: 5s;
animation-name: kok6 ;
animation-duration: 40s;
animation-iteration-count: infinite;
cursor: pointer;
}



@keyframes kok6 {
  0% { left: 5vw ; top: -40vw }
  20% { left: 30vw; top: -35vw}
  30% { left: 70vw ; top:-35vw }
  40% { left: 50vw ; top:-42vw }
  50% { left: 20vw; top:-42vw}
  60% { left: 10vw ; top:-40vw }
  70% { left: 30vw ; top:-42vw }
  80% { left: 60vw; top:-35vw }
  90% { left: 20vw ; top:-40vw }
  100% { left:5vw ; top: -40vw }

}

.six_an:hover {
  animation-play-state: paused;
}


.circle6 {
  z-index: 1;
position: relative;
justify-content: center;
align-items: center;
  height: 6vw;
  width: 6vw;
  border-radius: 50%;
  border: 1px solid white;
  /* color: white; */
/* text-align: center; */
  position: relative;
  left: 7vw;
  top: 7vw;
 transition: 650ms ease-out;

}

.circle6.big {
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
  border: 1px solid white;
  fill: red;
  position: relative;
left: 0;
top: 0;
}


.t6 {
  position: absolute;
  top: 9.5vw;
  left: -0.5vw;
  line-height: 100%;
  color: white;
  font-size: 1vw;
  width: 10vw;
  text-align: center;
}


.an6 {
  position: absolute;
  top: 7vw;
  left: 7vw;
  display: none;
}




.me {
  position: absolute;
  height: 6vw;
  width: 6vw;
  border-radius: 50%;
  border: 0.5px solid #FFFFFF;
}

.me_color {
  position: relative;
  top: 0.5vw;
  left: 0.5vw;
  height: 5vw;
  width: 5vw;
  border-radius: 50%;
  background-color: yellow;
  filter: blur(1vw);
}

.tt6 {
  position: relative;
  top: -6vw;
  left: -1.5vw;
  width: 5vw;

}


.bad {
  position: absolute;
  height: 1.5vw;
  width: 1.5vw;
  border-radius: 50%;
  border: 0.5px solid #FFFFFF;
}

.bad_color {
  position: relative;
  left: 0.1vw;
  height: 1.5vw;
  width: 1.5vw;
  border-radius: 50%;
  background-color: blue;
  filter: blur(0.3vw);

}


.badThigs1 {
  position: absolute;
  /* left: -5vw ;
  top: 3vw; */
  left: -5vw ;
  top: 3vw;
  animation-name: bad1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes bad1 {

  0% { left:-5vw ; top:3vw ; opacity:0 }
  5% { left:-5vw ; top:3vw ; opacity:1 }
  20% { left:-2vw ; top:3vw ; opacity:1 }
  40% { left:-1vw ; top:-2vw ; opacity:1 }
  60% { left:6.5vw ; top:-2vw ; opacity:1 }
  70% { left:6.5vw ; top:3vw ; opacity:1 }
  80% { left:9vw ; top:3vw ; opacity:1 }
  95% { left:9vw ; top:3vw ; opacity:1 }
  100% { left:9vw ; top:3vw ; opacity:0 }

}


.badThigs2 {
  position: absolute;
  left: -5vw ;
  top: 5vw;
  animation-name: bad2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes bad2 {

  0% { left:-5vw ; top:3vw ; opacity:0 }
  5% { left:-5vw ; top:3vw ; opacity:1 }
  20% { left:-2vw ; top:3vw ; opacity:1 }
  40% { left:-1vw ; top:-2vw ; opacity:1 }
  60% { left:6.5vw ; top:-2vw ; opacity:1 }
  70% { left:6.5vw ; top:3vw ; opacity:1 }
  80% { left:9vw ; top:3vw ; opacity:1 }
  95% { left:9vw ; top:3vw ; opacity:1 }
  100% { left:9vw ; top:3vw ; opacity:0 }

}



.badThigs3 {
  position: absolute;
  left: -5vw ;
  top: 5vw;
  animation-name: bad3;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes bad3 {

  0% { left:-5vw ; top:3vw ; opacity:0 }
  5% { left:-5vw ; top:3vw ; opacity:1 }
  20% { left:-2vw ; top:3vw ; opacity:1 }
  40% { left:-1vw ; top:6vw ; opacity:1 }
  60% { left:6.5vw ; top:6.5vw ; opacity:1 }
  70% { left:6.5vw ; top:3vw ; opacity:1 }
  80% { left:9vw ; top:3vw ; opacity:1 }
  95% { left:9vw ; top:3vw ; opacity:1 }
  100% { left:9vw ; top:3vw ; opacity:0 }

}



.badThigs4 {
  position: absolute;
  left: -5vw ;
  top: 5vw;
  animation-name: bad4;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes bad4 {

  0% { left:-5vw ; top:3vw ; opacity:0 }
  5% { left:-5vw ; top:3vw ; opacity:1 }
  20% { left:-2vw ; top:3vw ; opacity:1 }
  40% { left:-1vw ; top:6vw ; opacity:1 }
  60% { left:6.5vw ; top:6.5vw ; opacity:1 }
  70% { left:6.5vw ; top:3vw ; opacity:1 }
  80% { left:9vw ; top:3vw ; opacity:1 }
  95% { left:9vw ; top:3vw ; opacity:1 }
  100% { left:9vw ; top:3vw ; opacity:0 }

}
